/* I'M SO SORRY FOR THIS CSS */

html {
  font-family: "Comic Sans MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #000000;
  overflow-y: hidden;
}

html,
body,
.result {
  height: 100%;
}

.option-01 {
  background-image: url("assets/somnolentcat.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center;
}

.option-02 {
  background-image: url("assets/sobbycat.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center;
}

.one {
  font-size: 900%;
  z-index: 3;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.two {
  z-index: 999;
  animation: slideUpDown 2s infinite;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8fffab, 0 0 40px #a3ffcb, 0 0 50px #99ffb8, 0 0 60px #b3ffc2, 0 0 70px #9effc8;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4dff58, 0 0 40px #4dff8b, 0 0 50px #4dffa3, 0 0 60px #4dff58, 0 0 70px #4dff61, 0 0 80px #4dff9a;
  }
}

.option-01 img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 999;
}

@keyframes slideUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

label {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  height: 50%;
  position: relative;
  text-align: center;
  width: 100%;
}

label:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

label::before,
label::after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 150ms ease-out;
}

label::before {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

label > span {
  color: rgba(255, 255, 255, 0.9);
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  margin: auto;
  padding: 0 50px;
  position: relative;
  z-index: 3;
}

input[type="radio"] {
  display: none;
}

.result::before,
.result::after {
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}

.result::before {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.8)), to(transparent));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  top: 0;
  height: 50%;
}

.result::after {
  background: -moz-linear-gradient(top, transparent 0%, transparent 9%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(9%, transparent), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, transparent 0%, transparent 9%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, transparent 0%, transparent 9%, rgba(0, 0, 0, 0.8) 100%);
  background: -ms-linear-gradient(top, transparent 0%, transparent 9%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.8) 100%);
  bottom: 0;
  height: 20%;
}
