#cat{
    height:70%;
    width:auto;
    margin:auto;
    margin-top:100px;
    animation: rotateAnimation 2s linear infinite;
    box-shadow: 15px 17px 26px rgb(41, 41, 41,0.6);
    border-radius:1.5%;
}
body{
    perspective: 1500px;
}
@keyframes rotateAnimation {
to {transform: rotateY(360deg);}
}