body {
    background-color: #c6b192;
}

.gradient-background {
    background: radial-gradient(circle, rgb(28,15,7) 20%, rgb(198,177,146) 100%);
}

.btext1 {
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
}

.btext2 {
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 80em;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.btext3 {
    display: flex;
    flex-direction: column;
    font-family: 'Spline Sans Mono', monospace;
    color: white;
    text-shadow: 0 5px 12px black;
    position: absolute;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    height: 50%;
    left: 2%;
    right: 0;
}
